BlogEngine/DotNetSlave.BusinessLogic/Syndication/Rss/Schema/Rss.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
	version="1.0.0.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	targetNamespace="http://www.rssboard.org/rss-specification"
	xmlns="http://www.rssboard.org/rss-specification"
>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd" />

	<xs:annotation>
		<xs:documentation>
			This version of the RSS schema is based on version 2.0.8 of the format specifications,
			found here http://www.rssboard.org/rss-specification.
		</xs:documentation>
	</xs:annotation>

	<xs:element name="rss" type="feedType"/>
	
	<xs:complexType name="feedType">

		<xs:annotation>
			<xs:documentation>
				A Really Simple Syndication (RSS) feed.
			</xs:documentation>
		</xs:annotation>

		<xs:sequence>
			<xs:element name="channel" minOccurs="1" maxOccurs="1">
				<xs:complexType>

					<xs:annotation>
						<xs:documentation>Represents a feed channel, which contains information about the channel (metadata) and its contents.</xs:documentation>
					</xs:annotation>

					<xs:sequence>
						<xs:element name="title" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									The name of the channel.
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="description" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									A phrase or sentence describing the channel.
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="link" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									The URL to the HTML website corresponding to the channel.
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:anyURI" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>

								<xs:annotation>
									<xs:documentation>
										Represents an associated item for a channel.
									</xs:documentation>
								</xs:annotation>

								<xs:sequence>
									<xs:element name="title" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												The title of item.
											</xs:documentation>
										</xs:annotation>
									</xs:element>

									<xs:element name="link" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												The URL to the full content of the item.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:anyURI" />
										</xs:simpleType>
									</xs:element>

									<xs:element name="description" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												The synopsis of the item.
											</xs:documentation>
										</xs:annotation>
									</xs:element>

									<xs:element name="author" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The email address and name of the author of the item.</xs:documentation>
										</xs:annotation>
									</xs:element>

									<xs:element name="category" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:annotation>
												<xs:documentation>
													Represents a categorization taxonomy that can be applied to a channel or item.
												</xs:documentation>
											</xs:annotation>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:annotation>
														<xs:documentation>
															A forward-slash-separated string that identifies a hierarchic location in the indicated taxonomy.
														</xs:documentation>
													</xs:annotation>
													<xs:attribute name="domain" type="xs:string" use="optional">
														<xs:annotation>
															<xs:documentation>A string that identifies a categorization taxonomy.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>

									<xs:element name="comments" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The URL of the comments page for the item.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:anyURI" />
										</xs:simpleType>
									</xs:element>

									<xs:element name="enclosure" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>An external media resource associated to the item.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:annotation>
												<xs:documentation>
													Represents a reference to an external media resource that can be associated to an item.
												</xs:documentation>
											</xs:annotation>
											<xs:attribute name="url" use="required">
												<xs:annotation>
													<xs:documentation>The URL location of the media the enclosure points to.</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="xs:anyURI" />
												</xs:simpleType>
											</xs:attribute>
											<xs:attribute name="length" type="xs:positiveInteger" use="required">
												<xs:annotation>
													<xs:documentation>The length of the enclosure media in bytes.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="type" use="required">
												<xs:annotation>
													<xs:documentation>The standard MIME type of the enclosure media.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>

									<xs:element name="guid" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The globally unique identifier for the item.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:annotation>
												<xs:documentation>
													Represents a globally unique identifier (GUID) that can be associated to an item.
												</xs:documentation>
											</xs:annotation>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:annotation>
														<xs:documentation>
															A string that uniquely identifies the item.
														</xs:documentation>
													</xs:annotation>
													<xs:attribute name="isPermaLink" type="xs:boolean" use="optional">
														<xs:annotation>
															<xs:documentation>A value indicating if the guid points to the full content described by the item.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>

									<xs:element name="pubDate" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The publication date of the item.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="(((Mon)|(Tue)|(Wed)|(Thu)|(Fri)|(Sat)|(Sun)), *)?\d\d? +((Jan)|(Feb)|(Mar)|(Apr)|(May)|(Jun)|(Jul)|(Aug)|(Sep)|(Oct)|(Nov)|(Dec)) +\d\d(\d\d)? +\d\d:\d\d(:\d\d)? +(([+-]?\d\d\d\d)|(UT)|(GMT)|(EST)|(EDT)|(CST)|(CDT)|(MST)|(MDT)|(PST)|(PDT)|\w)"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>

									<xs:element name="source" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The source channel that the item came from.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:annotation>
												<xs:documentation>
													Represents a reference to a source channel that an item came from.
												</xs:documentation>
											</xs:annotation>
											<xs:simpleContent>
												<xs:extension base="xs:string">
													<xs:annotation>
														<xs:documentation>
															The name of the source channel.
														</xs:documentation>
													</xs:annotation>
													<xs:attribute name="url" use="optional">
														<xs:annotation>
															<xs:documentation>The URL location of the source channel.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:anyURI" />
														</xs:simpleType>
													</xs:attribute>
												</xs:extension>
											</xs:simpleContent>
										</xs:complexType>
									</xs:element>
									<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>

							</xs:complexType>
						</xs:element>

						<xs:element name="language" minOccurs="0" maxOccurs="1" default="en-us">
							<xs:annotation>
								<xs:documentation>The language the channel is written in.</xs:documentation>
								<xs:appinfo>default="en-us"</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="copyright" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>The copyright notice for content in the channel.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="managingEditor" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>The email address and name for person responsible for editorial content.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="webMaster" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>The email address and name for the person responsible for technical issues relating to the channel.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="pubDate" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>The publication date for the content in the channel.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="(((Mon)|(Tue)|(Wed)|(Thu)|(Fri)|(Sat)|(Sun)), *)?\d\d? +((Jan)|(Feb)|(Mar)|(Apr)|(May)|(Jun)|(Jul)|(Aug)|(Sep)|(Oct)|(Nov)|(Dec)) +\d\d(\d\d)? +\d\d:\d\d(:\d\d)? +(([+-]?\d\d\d\d)|(UT)|(GMT)|(EST)|(EDT)|(CST)|(CDT)|(MST)|(MDT)|(PST)|(PDT)|\w)"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="lastBuildDate" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>The last time the content of the channel changed.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="(((Mon)|(Tue)|(Wed)|(Thu)|(Fri)|(Sat)|(Sun)), *)?\d\d? +((Jan)|(Feb)|(Mar)|(Apr)|(May)|(Jun)|(Jul)|(Aug)|(Sep)|(Oct)|(Nov)|(Dec)) +\d\d(\d\d)? +\d\d:\d\d(:\d\d)? +(([+-]?\d\d\d\d)|(UT)|(GMT)|(EST)|(EDT)|(CST)|(CDT)|(MST)|(MDT)|(PST)|(PDT)|\w)"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>

						<xs:element name="ttl" type="xs:positiveInteger" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									The number of minutes that indicates how long a channel can be cached before refreshing from the source.
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="docs" default="http://www.rssboard.org/rss-specification" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>A URL that points to the documentation for the RSS syndication format.</xs:documentation>
								<xs:appinfo>default="http://www.rssboard.org/rss-specification"</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:anyURI" />
							</xs:simpleType>
						</xs:element>

						<xs:element name="generator" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Information that indicates the program used to generate the channel.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="rating" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>The PICS rating for the channel.</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="category" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:annotation>
									<xs:documentation>
										Represents a categorization taxonomy that can be applied to a channel or item.
									</xs:documentation>
								</xs:annotation>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:annotation>
											<xs:documentation>
												A forward-slash-separated string that identifies a hierarchic location in the indicated taxonomy.
											</xs:documentation>
										</xs:annotation>
										<xs:attribute name="domain" type="xs:string" use="optional">
											<xs:annotation>
												<xs:documentation>A string that identifies a categorization taxonomy.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>

						<xs:element name="cloud" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:annotation>
									<xs:documentation>
										Specifies a web service that supports the rssCloud interface which can be implemented in HTTP-POST, XML-RPC or SOAP 1.1.
										Allows processes to register with a cloud to be notified of updates to the channel, implementing a lightweight publish-subscribe protocol for RSS feeds. See http://www.rssboard.org/rsscloud-interface for more information about the rssCloud interface.
									</xs:documentation>
								</xs:annotation>
								<xs:attribute name="domain" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>The domain name or IP address of the cloud.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="path" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>The location of the cloud's responder.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="port" type="xs:positiveInteger" use="required">
									<xs:annotation>
										<xs:documentation>The TCP port that the cloud is running on.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="protocol" use="required">
									<xs:annotation>
										<xs:documentation>The type of communication protocol that the cloud uses.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="http-post" />
											<xs:enumeration value="soap" />
											<xs:enumeration value="xml-rpc" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="registerProcedure" type="xs:string" use="required">
									<xs:annotation>
										<xs:documentation>The name of the procedure to call to request notification.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>

						<xs:element name="image" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:annotation>
									<xs:documentation>
										Represents a GIF, JPEG or PNG image that can be associated to a channel.
									</xs:documentation>
								</xs:annotation>
								<xs:sequence>
									<xs:element name="url" minOccurs="1" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The URL of a GIF, JPEG or PNG image that represents the channel.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:anyURI" />
										</xs:simpleType>
									</xs:element>
									<xs:element name="title" minOccurs="1" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Describes the image, it's used in the ALT attribute of the HTML img tag when the channel is rendered in HTML. </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="link" minOccurs="1" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The URL of the site, when the channel is rendered, the image is a link to the site. (Note, in practice the image title and link should have the same value as the channel's title and link.) </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:anyURI" />
										</xs:simpleType>
									</xs:element>
									<xs:element name="width" default="88" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The width of the image in pixels.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:maxInclusive value="144" />
												<xs:minInclusive value="0" />
												<xs:fractionDigits value="0" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="height" default="31" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The height of the image in pixels.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:maxInclusive value="400" />
												<xs:minInclusive value="0" />
												<xs:fractionDigits value="0" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="description" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The text that is included in the TITLE attribute of the link formed around the image when rendered in HTML.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="textInput" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="title" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The label of the Submit button in the text input area.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="description" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The description of the text input area.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="name" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The name of the text object in the text input area.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="link" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The URL of the CGI script or web handler that processes text input requests.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:anyURI" />
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="skipHours" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Hours aggregators may not read this channel.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="hour" maxOccurs="24" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="skipDays" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Days aggregators may not read this channel.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="day" maxOccurs="7" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="version" default="2.0" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
	</xs:complexType>
	
</xs:schema>